* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px seashell solid;
    height: 69px;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.logoimage {
    height: 50px;
    display: flex;
    margin: 10px;
}

.navtags {
    display: flex;
    gap: 20px;
    margin: 10px;
    text-decoration: underline;
    font-size: 22px;
}


#ourMission {
  top: 69px;
  height: 700px;
  width: 100%;
  position: relative;
  align-content: center;
  background-image: url("images/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

  .mission-content {
    position: absolute;
    display: block;
    top: 300px;
    text-align: center; 
    width: 100%;
  }

  .mission-content h2 {
    padding-top: 8px;
  }

  .mission-content h4 {
    padding-top: 15px;
    padding-bottom: 8px;
  }

  #teaOfMonth {
    margin-top: 150px;
    font-size: 22px;
    width: 100%;
    height: 700px;
  }

  #teaOfMonth h2, h4{
    padding-bottom: 20px;
  }

  #teaOfMonth img {
    height: 200px;
    width: 300px;
  }

  .teas {
    display: inline-flex;
    flex-direction: column;
    margin: 15px;
    flex-wrap: wrap;
    gap: 10px;
  }


  #locations { 
    height: 700px;
    width: 100%;
    align-items: center;
    flex-flow: column;
    background-image: url("images/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }

  .locations-title {
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-size: 22px;
  }

  .locations-title h2 {
    background-color: transparent;
  }


  .locations-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: transparent;
    top: 300px;
    align-items: center;
    margin-top: 15px;
    opacity: 1;
  }


  .location {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    opacity: 1;
  }

  .contact-information {
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }

  .contact-information h5 {
    margin-top: 20px;
  }

  .copyright {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    margin-left: 20px;
  }
